<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Message</title>
    </head>
    <body>
        <div id="head">
            <h3>Test App</h3>
            <h6><a href="{% url 'dashboard:dashboard' %}">Dashboard</a></h6>
            <h6><a href="{% url 'dashboard:edit' id=request.session.id %}">Profile</a></h6>
            <h6><a href="{% url 'dashboard:log-off' %}">Log Off</a></h6>
        </div>
        <h3>{{user.first_name}} {{user.last_name}}</h3>
        <table>
            <tr>
                <th>Registered at:</th>
                <td>{{user.created_at}}</td>
            </tr>
            <tr>
                <th>User ID:</th>
                <td>#{{user.id}}</td>
            </tr>
            <tr>
                <th>Email Address:</th>
                <td>{{user.email}}</td>
            </tr>
            <tr>
                <th>Description:</th>
                <td>{{user.description}}</td>
            </tr>
        </table>
    <h3>Leave a message for {{user.first_name}}</h3>
    <form action="{% url 'dashboard:message' post_to_id=user.id %}" method="post">
        {% csrf_token %}
        <textarea name="message" rows="8" cols="40" placeholder="Write a message.."></textarea>
        <input type="submit" value="Post">
    </form>
    {% for message in messages %}
        {% if message.post_to_id.id == user.id %}
            <p><a href="{% url 'dashboard:show' id=message.messager_id.id %}">{{message.messager_id.first_name}}</a> wrote:</p>
            <p>{{message.updated_at}}</p>
            <p>{{message.message}}</p>
            {% for comment in comments %}
                {% if message.id == comment.message_id.id %}
                    <p><a href="{% url 'dashboard:show' id=comment.commenter_id.id %}">{{comment.commenter_id.first_name}}</a> wrote</p>
                    <p>{{comment.updated_at}}</p>
                    <p>{{comment.comment}}</p>
                {% endif %}
            {% endfor %}
            <form action="{% url 'dashboard:comment' message_id=message.id post_to_id=user.id %}" method="post">
                {% csrf_token %}
                <textarea name="comment" rows="8" cols="40" placeholder="Write a comment.."></textarea>
                <input type="submit" value="Post">
            </form>
        {% endif %}
    {% endfor %}
    </body>
</html>















<!--  -->
